<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
        <span>Name:</span>
        <input type="text" required formControlName="name">
    </label>
    <label>
        <span>Email:</span>
        <input type="email" formControlName="email">
    </label>
    <label>
        <span>Role:</span>
        <select formControlName="role">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
            <option value="Manager">Manager</option>
        </select>
    </label>

    <div>
        <button type="reset">Cancel</button>
        <button type="submit">Create</button>
    </div>
</form>